<mat-card>
    <h1 class="mt10 ml10">Add New Category</h1>
    <!-- {{category|json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form (ngSubmit)="formSubmit()">

                        <mat-form-field class="wd100" appearance="outline">
                            <!-- <mat-lable>Title</mat-lable> -->
                            <input required  type="text" name="title" matInput placeholder="Enter here"[(ngModel)]="category.title">
                        </mat-form-field>

                        <mat-form-field class="wd100" appearance="outline">
                            <!-- <mat-lable>Title</mat-lable> -->
                            
                            <textarea  name="description" matInput placeholder="Enter description" [(ngModel)]="category.description" row="14">

                            </textarea>
                        </mat-form-field>

                        <div class="container text-center">
                            <button mat-raised-button color="primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
