.image-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px; /* Adjust the height as needed */
  }
  
  .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    height: 100%;
  }
  
  .slide {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    user-select: none;
  }
  
  .arrow-left {
    left: 0;
  }
  
  .arrow-right {
    right: 0;
  }
  
  
  .example-header-image {
    background-image: url('../../../assets/exam.png');
    background-size: cover;
  }
  /* Define the styling for the 'example-card' class (your card container) */
.example-card {
    width: 100%;
    height: 100%;
    /* Add other card container styles here */
  }
  
  /* Define the styling for the 'imagee' class (your card images) */
  .imagee {
    width: 100%; /* Set the width to fill the card container */
    height: 200px; /* Maintain aspect ratio */
    max-height: 200px; /* Set a maximum height for the images */
    object-fit: cover; /* Crop and center the image within the container */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
    /* Add any other styles you want */
  }
  