profile.component.css
.menu-list {
    width: 250px;
    padding-top: 20px;
  }
  
  .menu-header {
    font-size: 20px;
    padding: 10px 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    transition: background-color 0.2s;
    cursor: pointer; 
  }
  
  .menu-item:hover {
    background-color: #f0f0f0;
  }
  

  .menu-item mat-icon {
    font-size: 24px;
    margin-right: 20px; 
    
  }

  .menu-item span:hover {
    color: #007bff;
  }
  